<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Complain-ActivitySpotter</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/userResource/css/style.min.css">
    <link rel="stylesheet" href="../../static/userResource/css/custom.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../static/userResource/css/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/userResource/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/userResource/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/userResource/css/sweetalert.css">

</head>

<body>
{% include 'user/header.html' %}
    <!-- /.header -->
    {% include 'user/menu.html' %}
<!-- /.fixed-navbar -->

<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-12">
                <div class="box-content">
                    <h4 class="box-title">Post Complain</h4>
                    <form data-toggle="validator" action="/user/insertComplain" enctype="multipart/form-data" method="post">

                        <div class="form-group">
                            <label for="complainSubject" class="control-label">Complain Subject</label>
                            <input class="form-control" name="complainSubject" required></input>
                        </div>
                        <div class="form-group">
                            <label for="complainDescription" class="control-label">Complain Description</label>
                            <textarea class="form-control" name="complainDescription"  required></textarea>
                        </div>
                        <div class="form-group"><br>
                            <label for="fileToUpload" class="control-label">Complain Attachment:</label>
                            <input type="file" class="form-control" id="fileToUpload" name="complainfile" placeholder="Upload File">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row small-spacing -->
        {% include 'user/footer.html' %}
    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="adminResource/js/html5shiv.min.js"></script>
		<script src="adminResource/js/respond.min.js"></script>
	<![endif]-->
<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/userResource/js/jquery.min.js"></script>
<script src="../../static/userResource/js/modernizr.min.js"></script>
<script src="../../static/userResource/js/bootstrap.min.js"></script>
<script src="../../static/userResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/userResource/js/nprogress.js"></script>
<script src="../../static/userResource/js/sweetalert.min.js"></script>
<script src="../../static/userResource/js/waves.min.js"></script>
<!-- Sparkline Chart -->
<script src="../../static/userResource/js/jquery.sparkline.min.js"></script>
<script src="../../static/userResource/js/chart.sparkline.init.min.js"></script>

<!-- Validator -->
<script src="../../static/userResource/js/validator.min.js"></script>

<script src="../../static/userResource/js/main.min.js"></script>
<script src="../../static/userResource/js/mycommon.js"></script>
</body>
</html>