<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Login-ActivitySpotter</title>
	<link rel="stylesheet" href="../../static/adminResource/css/style.min.css">
<link rel="stylesheet" href="../../static/adminResource/css/custom.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../../static/adminResource/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">

	<form action="/user/validateOTP" class="frm-single" METHOD="post">
		<div class="inside">
			<div class="title"><strong>ActivitySpotter</strong></div>
			<!-- /.title -->
			<div class="frm-title">OTP</div>
			<!-- /.frm-title -->

			<div class="frm-input"><input type="text" placeholder="passwordOTP" name="passwordOTP" class="frm-inp"><i class="fa fa-user frm-ico"></i></div>
			<!-- /.frm-input -->
			<!-- /.frm-input -->
            <div class="clearfix margin-bottom-20">
				<div class="float-left">
					<!-- /.checkbox -->
				</div>
				<!-- /.float-left -->
				<!-- /.float-right -->
			</div>
			<!-- /.clearfix -->
			<button type="submit" class="frm-submit">Submit<i class="fa fa-arrow-circle-right"></i></button>
            {% if error %}
                <p class="login-box-msg" style="color: red;">{{ error }}</p>
            {% endif %}
			<!-- /.row -->
			<div class="frm-footer">ActivitySpotter.</div>
			<!-- /.footer -->
		</div>

		<!-- .inside -->
	</form>
	<!-- /.frm-single -->
</div><!--/#single-wrapper -->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="adminResource/js/html5shiv.min.js"></script>
		<script src="adminResource/js/respond.min.js"></script>
	<![endif]-->
	<!--
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../../static/adminResource/js/jquery.min.js"></script>
	<script src="../../static/adminResource/js/modernizr.min.js"></script>
	<script src="../../static/adminResource/js/bootstrap.min.js"></script>
	<script src="../../static/adminResource/js/nprogress.js"></script>
	<script src="../../static/adminResource/js/waves.min.js"></script>

	<script src="../../static/adminResource/js/main.min.js"></script>
<script src="../../static/adminResource/js/mycommon.js"></script>
</body>
</html>