    <div class="main-menu">
	<header class="header">
		<a href="index.html" class="logo"><i class="ico ti-rocket"></i>ActivitySpotter</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">
		<div class="navigation">
			<h5 class="title">Navigation</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="current">

					<a class="waves-effect" href="/user/loadDashboard"><i class="menu-icon ti-dashboard"></i><span>User Dashboard</span></a>
				</li>
                <li>
					<a class="waves-effect parent-item js__control"><i class="menu-icon ti-bar-chart"></i><span>Manage Purchase</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/viewPackage">View Package</a></li>
						<li><a href="/user/viewPurchase">View Purchase</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>

                 <li>
					<a class="waves-effect parent-item js__control"><i class="menu-icon ti-bar-chart"></i><span>Manage Video</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadVideo">Upload Video</a></li>
                        <li><a href="/user/viewVideo">View Video</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>

{#				<li>#}
{#					<a class="waves-effect" href="/user/viewDetection"><i class="menu-icon ti-calendar"></i><span>Manage Detection</span></a>#}
{#				</li>#}
                <li>
					<a class="waves-effect parent-item js__control"><i class="menu-icon ti-bar-chart"></i><span>Manage Complain</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadComplain">Post Complain</a></li>
						<li><a href="/user/viewComplain">View Complain</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control"><i class="menu-icon ti-bar-chart"></i><span>Manage Feedback</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/user/loadFeedback">Post Feedback</a></li>
						<li><a href="/user/viewFeedback">View Feedback</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>


			</ul>
			<!-- /.menu js__accordion -->
{#            <h5 class="title">Additions</h5>#}
{#			<!-- /.title -->#}
{#			<ul class="menu js__accordion">#}
{#				<li>#}
{#					<a class="waves-effect" href="profile.html"><i class="menu-icon ti-user"></i><span>Profile</span></a>#}
{#				</li>#}
{#				<li>#}
{#					<a class="waves-effect" href="inbox.html"><i class="menu-icon ti-email"></i><span>Mail</span><span class="notice notice-danger">New</span></a>#}
{#				</li>#}
{#				<li>#}
{#					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-layers"></i><span>Page</span><span class="menu-arrow fa fa-angle-down"></span></a>#}
{#					<ul class="sub-menu js__content">#}
{#						<li><a href="page-starter.html">Starter Page</a></li>#}
{#						<li><a href="page-login.html">Login</a></li>#}
{#						<li><a href="page-register.html">Register</a></li>#}
{#						<li><a href="page-recoverpw.html">Recover Password</a></li>#}
{#						<li><a href="page-lock-screen.html">Lock Screen</a></li>#}
{#						<li><a href="page-confirm-mail.html">Confirm Mail</a></li>#}
{#						<li><a href="page-404.html">Error 404</a></li>#}
{#						<li><a href="page-500.html">Error 500</a></li>#}
{#					</ul>#}
{#					<!-- /.sub-menu js__content -->#}
{#				</li>#}
{#				<li>#}
{#					<a class="waves-effect parent-item js__control" href="#"><i class="menu-icon ti-blackboard"></i><span>Extra Pages</span><span class="menu-arrow fa fa-angle-down"></span></a>#}
{#					<ul class="sub-menu js__content">#}
{#						<li><a href="extras-contact.html">Contact list</a></li>#}
{#						<li><a href="extras-email-template.html">Email template</a></li>#}
{#						<li><a href="extras-faq.html">FAQ</a></li>#}
{#						<li><a href="extras-gallery.html">Gallery</a></li>#}
{#						<li><a href="extras-invoice.html">Invoice</a></li>#}
{#						<li><a href="extras-maps.html">Maps</a></li>#}
{#						<li><a href="extras-pricing.html">Pricing</a></li>#}
{#						<li><a href="extras-projects.html">Projects</a></li>#}
{#						<li><a href="extras-taskboard.html">Taskboard</a></li>#}
{#						<li><a href="extras-timeline.html">Timeline</a></li>#}
{#						<li><a href="extras-tour.html">Tour</a></li>#}
{#					</ul>#}
{#					<!-- /.sub-menu js__content -->#}
{#				</li>#}
{#			</ul>#}
        </div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>