<html lang="en" class="js"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>View Package</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../../static/userResource/css/style.min.css">
	<link rel="stylesheet" href="../../static/userResource/css/custom.css">

	<!-- Themify Icon -->
	<link rel="stylesheet" href="../../static/userResource/css/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../../static/userResource/css/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../../static/userResource/css/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../../static/userResource/css/sweetalert.css">

{##<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>#}

<body>
	{% include 'user/menu.html' %}

	{% include 'user/header.html'   %}
	<!-- /.fixed-navbar -->

	<div id="wrapper">
		<div class="main-content">
			<div class="pricing-plan">
				<div class="pricing-table">
					<div class="cols col-first">
						<div class="thead"><div class="center-v">Choose your plan</div></div>
						<div class="td">Work experience</div>
						<div class="td">Work tools</div>
						<div class="td">Professional training</div>
						<div class="td">Quantity</div>
						<div class="td">24h support</div>
						<div class="td">Guarantee</div>
						<div class="td"></div>
					</div>
					<div class="cols">
						<div class="thead bg-blue-1">
							<h4>House Cleaning</h4>
							<div class="price">
								<span class="currency">$</span>
								<span class="number">19</span>
								<span class="small_number">99</span>
								<span class="time">Hour</span>
							</div>
						</div>
						<div class="td">Experience staff 500 hr</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-times"></i></div>
						<div class="td">5 people at home</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-times"></i></div>
						<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">PURCHASE</a></div>
					</div>
					<div class="cols col-featured">
						<div class="thead bg-main-2">
							<h4>Business Cleaning</h4>
							<div class="price">
								<span class="currency">$</span>
								<span class="number">29</span>
								<span class="small_number">99</span>
								<span class="time">Hour</span>
							</div>
						</div>
						<div class="td">Experience staff 300 hr</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td">3 people at home</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">PURCHASE</a></div>
					</div>
					<div class="cols">
						<div class="thead bg-blue-2">
							<h4>Office Cleaning</h4>
							<div class="price">
								<span class="currency">$</span>
								<span class="number">39</span>
								<span class="small_number">99</span>
								<span class="time">Hour</span>
							</div>
						</div>
						<div class="td">Experience staff 200 hr</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td">2 people at home</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-times"></i></div>
						<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">PURCHASE</a></div>
					</div>
					<div class="cols">
						<div class="thead bg-blue-3">
							<h4>Glass Cleaning</h4>
							<div class="price">
								<span class="currency">$</span>
								<span class="number">39</span>
								<span class="small_number">99</span>
								<span class="time">Hour</span>
							</div>
						</div>
						<div class="td">Experience staff 200 hr</div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td">2 people at home</div>
						<div class="td"><i class="fa fa-times"></i></div>
						<div class="td"><i class="fa fa-check"></i></div>
						<div class="td"><a href="#" class="btn-order js__popup_open" data-target="#register-form-popup-2">PURCHASE</a></div>
					</div>
				</div>
			</div>
	{% include 'user/footer.html'%}
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="../../static/userResource/js/html5shiv.min.js"></script>
		<script src="../../static/userResource/js/respond.min.js"></script>
	<![endif]-->
	<!--
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/userResource/js/jquery.min.js"></script>
		<script src="../../static/userResource/js/modernizr.min.js"></script>
		<script src="../../static/userResource/js/bootstrap.min.js"></script>
		<script src="../../static/userResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../../static/userResource/js/nprogress.js"></script>
		<script src="../../static/userResource/js/sweetalert.min.js"></script>
		<script src="../../static/userResource/js/waves.min.js"></script>
		<!-- Sparkline Chart -->
		<script src="../../static/userResource/js/jquery.sparkline.min.js"></script>
		<script src="../../static/userResource/js/chart.sparkline.init.min.js"></script>

		<script src="../../static/userResource/js/main.min.js"></script>
<script src="../../static/userResource/js/mycommon.js"></script>

	</body></html>