<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Manage Complain-ActivitySpotter</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="../../static/userResource/css/style.min.css">
	<link rel="stylesheet" href="../../static/userResource/css/custom.css">

	<!-- Themify Icon -->
	<link rel="stylesheet" href="../../static/userResource/css/themify-icons.css">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="../../static/userResource/css/jquery.mCustomScrollbar.min.css">

	<!-- Waves Effect -->
	<link rel="stylesheet" href="../../static/userResource/css/waves.min.css">

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="../../static/userResource/css/sweetalert.css">

	<!-- Data Tables -->
	<link rel="stylesheet" href="../../static/userResource/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="../../static/userResource/css/responsive.bootstrap.min.css">

</head>

<body>
{% include 'user/menu.html' %}
	<!-- /.main-menu -->

	{% include 'user/header.html'   %}
	<!-- /.fixed-navbar -->

	<!-- /#message-popup -->
	<div id="wrapper">
		<div class="main-content">
			<div class="row small-spacing">
				<div class="col-12">
					<div class="box-content">
						<h4 class="box-title">View Complain</h4>
						<!-- /.box-title -->
						<!-- /.dropdown js__dropdown -->
						<table id="example" class="table table-striped table-bordered display" style="width:100%">
							<thead>
                                <tr>
									<th>Complain Subject</th>
									<th>Complain Description</th>
									<th>Complain Date</th>
									<th>Complain Time</th>
                                    <th>Complain Status</th>
                                    <th>Complain Attachment</th>
                                    <th>Complain Reply</th>
                                    <th>Action</th>
								</tr>
							</thead>
							<tbody>
                              {% for row in complainVOList%}
								<tr>
									<td>{{ row['complainSubject'] }}</td>
									<td>{{ row['complainDescription'] }}</td>
									<td>{{ row['complainDate'] }}</td>
                                    <td>{{ row['complainTime'] }}</td>
                                    <td>{{ row['complainStatus'] }}</td>
                                    <td><a href="{{row['complainFilePath']}}{{row['complainFileName']}} "target=_blank">view</a></td>
                                    <td><a href="/user/viewComplainReply?complainId={{ row['complainId'] }}">view</a></td>
									<td><a href="/user/deleteComplain?complainId={{row['complainId']}}">delete</a></td>
								</tr>
                              {% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.box-content -->
				</div>

			{% include 'user/footer.html' %}
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="adminResource/js/html5shiv.min.js"></script>
		<script src="adminResource/js/respond.min.js"></script>
	<![endif]-->
	<!--
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../static/userResource/js/jquery.min.js"></script>
		<script src="../../static/userResource/js/modernizr.min.js"></script>
		<script src="../../static/userResource/js/bootstrap.min.js"></script>
		<script src="../../static/userResource/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="../../static/userResource/js/nprogress.js"></script>
		<script src="../../static/userResource/js/sweetalert.min.js"></script>
		<script src="../../static/userResource/js/waves.min.js"></script>
		<!-- Sparkline Chart -->
		<script src="../../static/userResource/js/jquery.sparkline.min.js"></script>
		<script src="../../static/userResource/js/chart.sparkline.init.min.js"></script>

		<!-- Data Tables -->
		<script src="../../static/userResource/js/jquery.dataTables.min.js"></script>
		<script src="../../static/userResource/js/dataTables.bootstrap4.min.js"></script>
		<script src="../../static/userResource/js/dataTables.responsive.min.js"></script>
		<script src="../../static/userResource/js/responsive.bootstrap.min.js"></script>
		<script src="../../static/userResource/js/datatables.demo.min.js"></script>

		<script src="../../static/userResource/js/main.min.js"></script>

    <script src="../../static/userResource/js/mycommon.js"></script>
    </div>
</body>
</html>