<div class="main-menu">
	<header class="header">
		<a href="index.html" class="logo"><i class="ico ti-rocket"></i>ActivitySpotter</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">
		<div class="navigation">
			<h5 class="title">Navigation</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="current">

					<a class="waves-effect" href="/admin/loadDashboard"><i class="menu-icon ti-dashboard"></i><span>Admin Dashboard</span></a>
				</li>
                <li>
					<a class="waves-effect" href="/admin/viewUser"><i class="menu-icon ti-layers-alt"></i><span>Manage User</span></a>
				</li>
                <li>
					<a class="waves-effect parent-item js__control" ><i class="menu-icon ti-bar-chart"></i><span>Manage Package</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/admin/loadPackage">Add Package</a></li>
						<li><a href="/admin/viewPackage">View Package</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
                <li>
					<a class="waves-effect parent-item js__control" ><i class="menu-icon ti-bar-chart"></i><span>Manage Dataset</span><span class="menu-arrow fa fa-angle-down"></span></a>
					<ul class="sub-menu js__content">
						<li><a href="/admin/loadDataset">Add Dataset</a></li>
						<li><a href="/admin/viewDataset">View Dataset</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
                <li>
					<a class="waves-effect" href="/admin/viewVideo"><i class="menu-icon ti-layers-alt"></i><span>Manage Video</span></a>
				</li>
                <li>
					<a class="waves-effect" href="/admin/viewComplain"><i class="menu-icon ti-flag"></i><span>Manage Complain</span></a>
				</li>
				<li>
					<a class="waves-effect" href="/admin/viewFeedback"><i class="menu-icon ti-desktop"></i><span>Manage Feedback</span></a>
				</li>


			</ul>
			<!-- /.menu js__accordion -->
        </div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>